.header{
    background: transparent;
    color: white;
    /* width: 100%; */
    /* border-bottom: 3px solid palegreen; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    padding:5px 8px;
    background: linear-gradient(to right, rgb(153, 0, 255), rgb(255, 136, 0));
    box-shadow : 0px 5px 11px 0px rgba(50,50,50,0.08);
}
.headerDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.navigation{
    display: flex;
    padding-right: 10px;
    position: relative;
}
.links{
    padding: 3px 6px;
    margin: 0px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}
.logoDiv{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.spanLogo{
    margin-left: 3px;
    font-size: x-large;
    font-weight: bold;
    color: tomato;
    font-family: sans-serif;
}
.links::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0%;
    background: palegreen;
    transition: 300ms;
  }
.links:hover::after{
    left: 0;
    width: 100%;
}
@media (max-width : 400px) {
    .navigation{
        flex-direction: column;
    }
    .header{
        position: inherit;
    }
}