.postDiv{
    /* 'w-full px-10 py-6 bg-white rounded-lg shadow-md mt-6'  */
    padding: 6px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 6px;
    border-radius: 2px;
    box-shadow: 2px 4px 7px 2px rgb(81, 101, 135);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.postImage{
    /* 'mb-4 rounded' */
    margin-bottom: 4px;
    border-radius: 3px;
}
.dateAndCategory{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date{
    font-weight: 300;
    color: rgba(128, 128, 128, 0.6);
}
.title{
    margin-top: 2px;
}
.titleLink{
    font-size: 16px;
    color: #138496;
    font-weight: bold;
    text-decoration: none;
}
.titleLink:hover{
    text-decoration: underline;
}
.excerpt{
    /* 'mt-2 text-gray-600' */
    margin-top: 2px;
    font-size: 0.9rem;
    font-weight: 300;
}
.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    border: 3px solid #138496;
    border-radius: 25%;
}
.authorLink{
    /* 'text-gray-900 hover:text-blue-600' */
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.authorLink:hover{
    color: blue;
}
.authorImageDiv{
    display: flex;
    align-items: center;
}
.authorImage{
    /* 'mx-4 w-10 h-10 object-cover rounded-full hidden sm:block' */
    margin: 0px 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.authorName{
    /* 'text-gray-700 font-bold' */
    color: black;
    font-weight: 500;
    font-size: small;
}