@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main{
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 25vh;
    max-height: min-content;
    flex-direction: column;
    width:40%;
    margin: 10px;
    /* border: 1px solid rgb(48, 33, 33); */
    border-radius: 3px;
    background-color: white;
    box-shadow: 3px 3px 8px -1px #dadada94;
    border-radius: 10px;
    padding: 2.5vw;
}
.date{
    color: gray;
    font-size: 0.9rem;
    border-radius: 3px;
    font-weight: 400;
}
.description{
    font-size: 1rem;
    padding:1vw 0vw 0 0vw;
    color: rgb(70, 70, 70);
    font-weight: 500;
}
.name{
    font-weight: bold;
    font-size: 1.6rem;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper{
    margin-top: 1vw;
    display: flex;
    justify-content: flex-end;
}

.links{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 3px 8px -1px #5b5b5b94;
}
.links > a{
    border-radius: 5px;
    padding: 0.4vw;
    color: black;
    text-decoration: none;
    font-size: 0.9rem;

}
