.searchResultMainDiv{
    /* "absolute top-20 right-0 md:right-10 z-10 border-4 border-gray-500 bg-white text-black w-full md:w-6/12 rounded-2xl" */
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;
    border: 2px solid rgb(53, 209, 53);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    max-width: min-content;
    min-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
}
.resultsDiv{
    padding: 10px;
}
.searchDivHeading{
    margin-bottom: 3px;
}
@media (max-width : 768px) {
    .searchResultMainDiv{
        right: 10px;
        top: 40px;
        min-width: 300px;
    }
}